.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
}

@media screen and (orientation:portrait) {
  .background {
    background-size: auto 100%;
  }
}
@media screen and (orientation:landscape) {
  .background {
    background-size: 100%;
  }
}

.fallback {
  background-image: url(./images/bg1.jpg)
}

.hidden {
  display: none;
}

#bg1 {
  background-image: url(./images/bg1.jpg)
}
#bg2 {
  background-image: url(./images/bg2.jpg)
}
#bg3 {
  background-image: url(./images/bg3.jpg)
}
#bg4 {
  background-image: url(./images/bg4.jpg)
}
