.background, .apps {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
}

.hidden {
  display: none;
}

.apps {
  background: transparent;
  z-index: 2;
  padding: 5vw;
}

.app {
  display: inline-block;
  vertical-align: top;
  padding: 3vw;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 3vw;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  height: 26vw;
  width: 26vw;
}

.app:not(:first-child) {
  margin-left: 6vw;
}

.app img {
  width: 75%;
  height: 75%;
  display: block;
  margin: 0 auto 1.4vw;
}

.app label {
  font-size: 3.7vw;
  color: #ddd;
}

@media screen and (orientation:landscape) {
  .app {
    height: 18vw;
    width: 18vw;
  }

  .app label {
    font-size: 2.2vw;
  }

  .app:not(:first-child) {
    margin-left: 6vw;
  }
}
